name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v2
      - uses: c-hive/gha-npm-cache@v1
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: |
          npm run lint
          npx tslint --project .
          npm run build
          npm run test
      - name: Lint commit message
        run: git log -n 1 --format='%B' | npx commitlint
      - name: Check formatting
        run: npx prettier --check "src/**/*.{ts,js,vue}" --check "tests/**/*.{ts,js}" --check "*.js"
